<div class="card my-5">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-end mb-4">
      <h3 class="mb-0">
        {{ titulo }}
      </h3>
    </div>
    <div class="row">
      <form [formGroup]="frm_Curso" novalidate (ngSubmit)="grabar()">
        <div class="form-group mb-3">
          <label class="form-label" for="nombre">Nombre del Curso</label>
          <input
            type="text"
            class="form-control"
            formControlName="nombre"
            id="nombre"
            placeholder="Ingrese el nombre del curso"
          />
          <div *ngIf="frm_Curso.get('nombre').invalid && frm_Curso.get('nombre').touched">
            <small *ngIf="frm_Curso.get('nombre').hasError('required')" style="color: red">
              El nombre del curso es requerido
            </small>
          </div>
        </div>

        <div class="form-group mb-3">
          <label class="form-label" for="fecha">Fecha de Inicio</label>
          <input
            type="date"
            class="form-control"
            formControlName="fecha"
            id="fecha"
          />
          <div *ngIf="frm_Curso.get('fecha').invalid && frm_Curso.get('fecha').touched">
            <small *ngIf="frm_Curso.get('fecha').hasError('required')" style="color: red">
              La fecha es requerida
            </small>
          </div>
        </div>

        <div class="form-group mb-3">
          <label class="form-label" for="fechaFin">Fecha de Fin</label>
          <input
            type="date"
            class="form-control"
            formControlName="fechaFin"
            id="fechaFin"
          />
          <div *ngIf="frm_Curso.get('fechaFin').invalid && frm_Curso.get('fechaFin').touched">
            <small *ngIf="frm_Curso.get('fechaFin').hasError('required')" style="color: red">
              La fecha de fin es requerida
            </small>
          </div>
        </div>

        <div class="d-grid mt-3">
          <button type="submit" class="btn btn-primary" [disabled]="frm_Curso.invalid">Grabar Curso</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--
  IMPORTAR => FORMSMODULE EN APP.MODULE.TS || NUEVOCURSO.COMPONENT.TS

  INTERPOLACION => DESDE EL TS AL HTML
  {{ }} 
  EVENTOS => EJECUTAR FUNCIONES EN EL TS
  ()
  DATA BINDING => DESDE EL HTML AL TS
  []
  TWO WAY BINDING => ENVIADO DE DATOS DESDE EL HTML AL TS Y DESDE EL TS AL HTML
  [()]
-->
